/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run epam/al-docking -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    max_iteration_num          = 5
    train_sample_size          = 128
    test_sample_size           = 128
    validation_sample_size     = 256
    random_seed                = 42

    prepare_chunk_size         = 128 // Prepare ligand chunk size
    docking_chunk_size         = 64
    inference_chunk_size       = 256

    model_type                 = 'gcn'
    model_num_layers           = 2
    model_hidden_dim           = 32
    model_out_dim              = 2
    model_readout_method       = 'sum'
    model_dropout_prob         = 0.05
    train_batch_size           = 128
    inference_batch_size       = 256
    train_num_epochs           = 10
    active_learning_method     = 'ucb'


    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'
}
