params.publish_dir_mode = params.publish_dir_mode ?: 'copy'

process {
    withName: STAR_ALIGN {
        ext.args = "--readFilesCommand zcat --runDirPerm All_RWX --outWigType bedGraph --twopassMode Basic --outSAMtype BAM SortedByCoordinate"
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }
}