
def backupPrev = { task ->
    return [ errorStrategy: task.errorStrategy/*, maxRetries: task.maxRetries ?: 1 */]
}

def restorePrev = { task, prev ->
    task.errorStrategy = prev.errorStrategy
    // task.maxRetries = prev.maxRetries
}

def buildErrorStrategyHandler = { prev ->
    return {
        /*
        If there was no error, so the task will not be run again,
        and it is safe to leave TaskConfig.errorStrategy overridden.
        */
        def res = prev.errorStrategy
        try {
            if (task.exitStatus == null || task.exitStatus == 137) {
                res = 'retry'
                task.retryWoExitcode = true
                task.retryWoExitcodeCount = (task.retryWoExitcodeCount ?: 0) + 1
            }
        } finally {
            restorePrev(task, prev) // task.errorStrategy = prev.errorStrategy
        }
        return res
    }
}

process {
    maxRetries = 5
    beforeScript = {
        if (task.retryWoExitcode) {
            println('--- WORKER KILLED ---')
            
            // temporary adjustment (let's see whether process resources calc respects this)
            task.attempt -= task.retryWoExitcodeCount ?: 0
            // task.errorCount -= task.retryWoExitcodeCount ?: 0
            // task.retryCount -= task.retryWoExitcodeCount ?: 0

            task.retryWoExitcode = null
        }

        task.prev = backupPrev(task)
        task.errorStrategy = buildErrorStrategyHandler(task.prev)
        // task.maxRetries = buildMaxRetriesHandler(task.prev)
        // NextFlow access/calls task.maxRetries only once
        return null; // this (last expression) outputs to .command.run
    }
}
