def maxRetriesWoExitcode = 7

def logLevel = 2 // 0 - error, 1 - warn, 2 - info, 3 - debug
def logPrefix = 'Fix retry: '

def backupPrev = { task ->
    if (logLevel >= 3) println("${logPrefix} backupPrev, task: ${task}")
    return [ errorStrategy: task.errorStrategy ]
}

def restorePrev = { task, prev ->
    if (logLevel >= 3) println("${logPrefix} restorePrev, task: ${task}")
    task.errorStrategy = prev.errorStrategy
}

def buildErrorStrategyHandler = { prev ->
    return {
        if (logLevel >= 3) println("${logPrefix} errorStrategyHandler, task: ${task}")
        /*
        If there was no error, so the task will not be run again,
        and it is safe to leave TaskConfig.errorStrategy overridden.
        */
        def res = prev.errorStrategy
        try {
            def exitcodeFileExists = new File((task.workDir / '.exitcode').toString()).exists()
            if (logLevel >= 2) println("${logPrefix} check, '.exitcode' file: ${exitcodeFileExists}, task.exitStatus: ${task.exitStatus}")
            if (!exitcodeFileExists || task.exitStatus == 137) {
                res = 'RETRY'
                task.retryWoExitcode = true
                task.retryWoExitcodeCount = (task.retryWoExitcodeCount ?: 0) + 1
            }
        }
        catch(Exception ex)  {
            if (logLevel >= 0) println("${logPrefix} ERROR: ${ex}")
        } finally {
            restorePrev(task, prev)
        }
        if (logLevel >= 2) println("${logPrefix} errorStrategyHandler, res: ${res}")
        return res
    }
}

process {
    beforeScript = {
        if (logLevel >= 2) println("${logPrefix} beforeScript")

        if (task.retryWoExitcode) {
            if (task.retryWoExitcodeCount < maxRetriesWoExitcode) task.maxRetries = (task.maxRetries ?: 1) + 1
            task.attempt -= task.retryWoExitcodeCount ?: 0

            if (logLevel >= 2) {
                println("${logPrefix} WORKER KILLED" +
                    ", retryWoExitcodeCount: ${retryWoExitcodeCount}" +
                    ", adjust maxRetries: ${task.maxRetries}" +
                    ", adjust task.attempt: ${task.attempt}")
            }

            // temporary adjustment (let's see whether process resources calc respects this)
            // task.errorCount -= task.retryWoExitcodeCount ?: 0
            // task.retryCount -= task.retryWoExitcodeCount ?: 0

            task.retryWoExitcode = null
        }

        prev = backupPrev(task)
        task.errorStrategy = buildErrorStrategyHandler(prev)
        // NextFlow access/calls task.maxRetries only once
        if (logLevel >= 3) println("${logPrefix} beforeScript, task: ${task}")
        return null; // this (last expression) outputs to .command.run
    }
}
